<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>Lulu's resume
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/component.css">
    <link rel="icon" href="images/icon.png" type="image/x-icon">
</head>

<body>
    <div class="wrapper">
        <div class="bg">

        </div>
        <header class="header">
            <div class="container">
                <div class="navbar navbar--collapse u-clearfix">
                    <div class="social-bar navbar__social-bar">
                        <a href="#" class="icon-btn">
                         <i class="icon icon-linkedin"></i>
                     </a>
                        <a href="#" class="icon-btn">
                         <i class="icon icon-behance-1"></i>
                     </a>
                        <a href="#" class="icon-btn">
                         <i class="icon icon-instagram"></i>
                     </a>
                    </div>
                    <div class="nav navbar__nav">
                        <a href="#popup-overlay" class="menu-toggle">
                          <span ></span>
                          <span ></span>
                          <span ></span>
                      </a>
                        <div id="popup-overlay" class="popup-menu">
                            <div class="container">
                                <div class="u-clearfix">
                                    <a href="#" class="popup-menu__close">
                            <span></span>
                           <span></span>
                            </a>
                                </div>
                                <ul>
                                    <li><a href="#" class="popup-menu__item">ABOUT</a></li>
                                    <li><a href="#" class="popup-menu__item">SKILLS</a></li>
                                    <li><a href="#" class="popup-menu__item">EXPERIENCE</a></li>
                                    <li><a href="#" class="popup-menu__item">MY WORK</a></li>
                                    <li><a href="#" class="popup-menu__item">CONTACT</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="main">
            <div class="hero">
                <div class="hero__bg"></div>
                <div class="container">
                    <div class="hero__content">
                        <h1 class="hero__heading">HELLO !<br>I'M LULU</h1>
                        <a href="#" class="btn btn--primary btn--md ">CONTACT</a>
                    </div>
                </div>
            </div>
            <div class="quote">
                <div class="container">
                    <div class="row">
                        <div class=" container col-sm-10 col-lg-6 ">
                            <div class="quote__content">
                                <div class="quote__icon">
                                    Hi
                                    <i class=""></i>
                                </div>
                                <P class="quote__text">Hello.<br> I am yalan, a graphic designer based in Taipei, Taiwan. I love to tell the story with graphics, and make them better with design. Also, traveling, sports, taking photos, reading, music, movie, learning languages and anything I longing to know are some of my favorite things. </P>
                                <div class="quote__name">
                                    <span>LULU  -</span> from Taiwan
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="skill bg-color-gray">
                <div class="container">
                    <h2 class="subtitle u-text-center">Skill</h2>
                    <div class="skill-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="skill-card">
                                    <div class="skill-card__inner">
                                        <h4 class="skill-card__title">Illustration</h4>
                                        <p class="skill-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptatibus deserunt error velit vero reprehenderit, ipsam porro suscipit quam nam?</p>

                                        <div class="skill-card__icon">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-card">
                                    <div class="skill-card__inner">
                                        <h4 class="skill-card__title">Illustration</h4>
                                        <p class="skill-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptatibus deserunt error velit vero reprehenderit, ipsam porro suscipit quam nam?</p>

                                        <div class="skill-card__icon">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-card">
                                    <div class="skill-card__inner">
                                        <h4 class="skill-card__title">Illustration</h4>
                                        <p class="skill-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptatibus deserunt error velit vero reprehenderit, ipsam porro suscipit quam nam?</p>

                                        <div class="skill-card__icon">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="skill-card">
                                    <div class="skill-card__inner">
                                        <h4 class="skill-card__title">Illustration</h4>
                                        <p class="skill-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente voluptatibus deserunt error velit vero reprehenderit, ipsam porro suscipit quam nam?</p>

                                        <div class="skill-card__icon">
                                            <img src="" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience">
                <div class="container">
                    <h2 class="subtitle u-text-center color-white">EXPERIENCE</h2>
                    <div class="timeline-group">
                        <div class="timeline"></div>
                        <div class="timeline-cards">
                            <div class="timeline-cards__row">
                                <div class="timeline-card">
                                    <p class="timeline-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aliquam adipisci delectus doloribus deleniti eum quas natus eos tempora ipsam?</p>
                                </div>
                            </div>
                            <div class="timeline-cards__row">
                                <div class="timeline-card">
                                    <p class="timeline-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aliquam adipisci delectus doloribus deleniti eum quas natus eos tempora ipsam?</p>
                                </div>
                            </div>
                            <div class="timeline-cards__row">
                                <div class="timeline-card">
                                    <p class="timeline-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aliquam adipisci delectus doloribus deleniti eum quas natus eos tempora ipsam?</p>
                                </div>
                            </div>
                            <div class="timeline-cards__row">
                                <div class="timeline-card">
                                    <p class="timeline-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aliquam adipisci delectus doloribus deleniti eum quas natus eos tempora ipsam?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="work bg-color-white">
                <div class="container">
                    <h2 class="subtitle u-text-center color-blake">PORTFOLIO</h2>
                    <div class="work-list">
                        <div class="work-item">
                            <div class="row">
                                <div class="col-sm-6 col-sm-push-5">
                                    <div class="imgbox">
                                        <div class="imgbox__inner imgbox__inner--4-3">
                                            <div class="image" style="background-image:url('images/UI-1.png');"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-sm-pull-5">
                                    <div class="work-item__text work-item__text--right">
                                        <h3 class="work-item__title work-item__title--right">UI DESIGN</h3>
                                        <p class="work-item__intro">one day one UI DESIGN</p> <a href="#" class="text-btn text-btn--primary text-btn--lg">MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="work-list">
                            <div class="work-item">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-2">
                                        <div class="imgbox">
                                            <div class="imgbox__inner imgbox__inner--4-3">
                                                <div class="image" style="background-image:url('images/UI-2.png');"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-sm-push-2">
                                        <div class="work-item__text work-item__text--left">
                                            <h3 class="work-item__title work-item__title--left">WEB DESIGN</h3>
                                            <p class="work-item__intro">one day one UI DESIGN</p> <a href="#" class="text-btn text-btn--primary text-btn--lg">MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work-list">
                            <div class="work-item">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-push-5">
                                        <div class="imgbox">
                                            <div class="imgbox__inner imgbox__inner--4-3">
                                                <div class="image" style="background-image:url('images/UI-3.png');"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-sm-pull-5">
                                        <div class="work-item__text work-item__text--right">
                                            <h3 class="work-item__title work-item__title--right">GRAPHIC DESIGN</h3>
                                            <p class="work-item__intro">one day one UI DESIGN</p> <a href="#" class="text-btn text-btn--primary text-btn--lg">MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        
                    </div>
                </div>
            </div>
        </section>
        <footer>

        </footer>
    </div>
</body>

</html>
